* {
    margin: 0;
    padding: 0;
}

.game {
    width: 100vw;
    height: 100vh;
    background-image: url(krzyzyk.png), url(kolko.png), url(krzyzyk.png), url(plansza.png);
    background-repeat: no-repeat;
    background-size: 25% 25%, 25% 25%, 25% 25%, 100% 100%;
    background-position: 46% center, right 10% top 10%, left 3% bottom 3%, center;

}